# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# testing / coverage
coverage/

# misc
tmp/
.cache/
